@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --foreground: #333333;
  --secondary: #777777;
  --accent: #068488;
  --buttonPrimary: #222222;
  --buttonPrimaryHover: #444444;
  --buttonSecondary: #DADADA;
  --buttonSecondaryHover: #C0C0C0;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-title;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-body;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.slick-prev:before, .slick-next:before  {
  content: '' !important;
}

.slick-slider .slick-slide {
  padding: 0 15px;
}